---
const { location } = Astro.props;
---

<span
  class={["location", location.toLowerCase().replaceAll(" ", "-")].join(" ")}
>
  {location}
</span>

<style>
  .location {
    display: inline-flex;
    align-items: center;
    gap: 6px;
  }
  .location::before {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 10px;
  }

  .location.fellesarealet::before {
    background: red;
  }
  .location.rom-1::before {
    background: blue;
  }
  .location.rom-2::before {
    background: green;
  }
</style>
